---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(p => ({ params: { slug: p.id }, props: { post: p } }));
}

const { post } = Astro.props;
---
<BlogLayout title={post.data.title} pageName={`BLOG/${post.id.toUpperCase()}`}>
  <p>{post.data.title}</p>
</BlogLayout>
