---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description?: string;
  pageName?: string;
}

const { title, description, pageName = 'BLOG' } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="min-h-screen flex flex-col border border-yk-dark mx-4 my-4">
    <Header zone="blog" pageName={pageName} />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </div>
</BaseLayout>
